<mat-card class="login-card">
  <h2 class="login-title">Reset Password</h2>

  <form #resetForm="ngForm" (ngSubmit)="onReset(resetForm)">

    <!-- Token -->
    <div class="field-group">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter Token</mat-label>
        <input
          matInput
          name="token"
          required
          [(ngModel)]="token"
          #tokenRef="ngModel"
        />
        <mat-error *ngIf="tokenRef.errors?.['required']">Token is required</mat-error>
      </mat-form-field>
    </div>

    <!-- Password -->
    <div class="field-group">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          required
          minlength="8"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[.@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
          [(ngModel)]="password"
          #passwordRef="ngModel"
        />
        <mat-error *ngIf="passwordRef.errors?.['required']">Password is required</mat-error>
        <mat-error *ngIf="passwordRef.errors?.['pattern']">
          Must include (8 character) uppercase, lowercase, number, and special character
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Confirm Password -->
    <div class="field-group">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          name="confirmPassword"
          required
          [(ngModel)]="confirmPassword"
          #confirmRef="ngModel"
        />
        <mat-error *ngIf="confirmRef.errors?.['required']">
          Confirm Password is required
        </mat-error>
        <mat-error *ngIf="confirmPassword && password && confirmPassword !== password">
          Passwords do not match
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Reset Button -->
    <div class="button-wrapper">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="
          !resetForm.form.valid ||
          passwordRef.errors?.['pattern'] ||
          confirmPassword !== password
        "
      >
        Reset Password
      </button>
    </div>
  </form>
</mat-card>
