<!-- <p>register works!</p> -->
<mat-card class="register-card">
  <h2 class="register-title">Register</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- Full Name -->
    <mat-form-field appearance="fill">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName" />
      <mat-error *ngIf="registerForm.get('fullName')?.hasError('required')">
        Full Name is required
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
        Enter a valid email
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
        Password must contain 8+ chars, uppercase, lowercase, digit, and symbol
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
        Confirm Password is required
      </mat-error>
      <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('passwordMismatch')">
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <!-- reCAPTCHA -->
    <div class="captcha-wrapper">
      <re-captcha formControlName="recaptcha" siteKey="6LdBiWkrAAAAAMFUY1Hjik1EgLzBqT-OQoVeFOMY"></re-captcha>
      <mat-error *ngIf="registerForm.get('recaptcha')?.hasError('required')">
      </mat-error>
    </div>

    <!-- Register Button -->
    <div class="button-wrapper">
      <button mat-raised-button color="primary" type="submit">
        Register
      </button>
    </div>

    <div class="register-link">
      Already have an account? <a routerLink="/login">Login</a>
    </div>
  </form>
</mat-card>
